:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}
.modal-content{
  font-family: 'Dubai Medium';
}
.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: start;
  font-family: 'Dubai Medium';
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  color: #0043ed;
  z-index: 1;
}
label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
label span:hover {
  background-color: #f0f3ff;
}
.addon-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  font-family: 'Dubai Medium';
}
.addon-details {
  display: flex;
  align-items: center;
  width: 100%;
}
.addon-item input:focus{
    box-shadow: none;
}
.addon-name {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  font-family: 'Dubai Medium'; 
}
.addon-controls {
  display: flex;
  align-items: center;
} 
.addon-count {
  margin: 0 0.5rem;
  font-weight: bold;
}

.addon-controls button {
  margin: 0 0.25rem;
  padding: 0.5rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addon-controls button:hover {
  background-color: #e1e6eb;
}

.cross-icon {
  font-size: 1.5rem;
  font-family: 'Dubai Medium';
  cursor: pointer;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  color: rgb(243, 243, 242);
}

.sec-modal {
  background: rgba(0, 0, 0, 0.7);
}

.combo-list {
  cursor: pointer;
  padding: 10px;
  font-family: 'Dubai Medium';
}

.combo-option {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.combo-option:hover {
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-outline-primary input:focus{
  box-shadow: none;
}

.combo-name {
  font-weight: bold;
  font-family: 'Dubai Medium';
}

.combo-price {
  color: #28a745;
  font-size: 1.2rem;
  font-family: 'Dubai Medium';
}

.soft-drink-options button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.soft-drink-options button:hover {
  background-color: #0056b3;
}

.modal-footer button {
  padding: 10px 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #0056b3;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #003d7a;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  margin: 0 5px;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  font-family: 'Dubai Medium';
  margin:auto;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

/* customised addon */

.addon-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.addon-popup1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
}
.addon-popup .card-body {
  padding: 20px;
}
.addon-popup img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.addonName{
  font-size: small
}
.addon-options input{
  margin-right: 10px;
}
.addon-options1 input{
  margin-right: 10px;
}

